.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
  background-color: white;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white;
}

.col-8-custom {
  width: 12.5%;
}

.category-card {
  width: '120px';
  height: '113px';
  background-color: '#F9F9F9';
  box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 6px;
}

.home-h1 {
  font-size: 36px;
  margin-bottom: 2rem;
}

.form-label {
  color: black;
  font-weight: bold;
}

.pesanan:hover {
  cursor: pointer;
}
